/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Aa]uto[Bb]uild/
/Assets/_Sandbox/
/Assets/_Sandbox.meta

.vscode/
.vs/
/.vsconfig

*.csproj
*.sln
*.suo
*.tmp
*.userprefs
*.app
.idea/
.cache/
*.VC.*
.DS_Store
*~
*.swp

*.log
*.pyc
*.icloud

/Builds
/Assets/Spine Examples
/Assets/Spine Examples.meta
/Assets/WwiseSettings.xml
/Assets/WwiseSettings.xml.meta
/Assets/Wwise/Editor
/Assets/Wwise/Editor.meta
/Assets/Wwise/Deployment/Plugins/Android
/Assets/Wwise/Deployment/Plugins/Android.meta
/Assets/Wwise/Deployment/Plugins/iOS
/Assets/Wwise/Deployment/Plugins/iOS.meta
/Assets/Wwise/Deployment/Plugins/Mac/DSP
/Assets/Wwise/Deployment/Plugins/Mac/DSP.meta
/Assets/Wwise/Deployment/Plugins/Windows/x86
/Assets/Wwise/Deployment/Plugins/Windows/x86.meta
/Assets/Wwise/Deployment/Plugins/Windows/x86_64/DSP
/Assets/Wwise/Deployment/Plugins/Windows/x86_64/DSP.meta
/Assets/Wwise/Deployment/Plugins/Windows/x86_64/Release
/Assets/Wwise/Deployment/Plugins/Windows/x86_64/Release.meta

/Assets/Scripts/Common/Editor/PlayMode.cs
/Assets/Scripts/Common/Editor/PlayMode.cs.meta
/logRunSetup.txt

/Assets/Plugins/Ludiq/Bolt/Documentation
/Assets/Plugins/Ludiq/Bolt/Documentation.meta
/Girl of War.sln.DotSettings.user

/Assets/Plugins/Ludiq/Bolt.Flow/Generated/ProjectSettings.asset
/Assets/Plugins/Ludiq/Bolt.Flow/Generated/ProjectSettings.asset.meta
/girlofwar_rep.sln.DotSettings.user
/girlofwar_rep.sln.DotSettings
/Assets/Samples.meta
/Assets/Samples

/ProjectSettings/FbxExportSettings.asset
/ProjectSettings/ProBuilderSettings.json
UserSettings
